<ion-header class="home-header">
  <img src="../../../assets/image/phon-header.png" class="header-bg">
  <div class="home-header-box">

    <a href="#" class="icon-info">
      <img src="../../../assets/image/info_1.png" alt="" >
    </a>

    <p class="title" >New Order</p>
    
    <a class="icon-next" [routerLink]="['/new-order-map']">
      <img src="../../../assets/image/next.png" alt="">
    </a>
  </div>

</ion-header>
  

<ion-content>
  <div class="">
    <p class="">where to pick up your order?</p>
  </div>
<img src="../../../assets/image/map.png" alt="">
<div class="btn-box">
  <button class="btn-next">Next Step</button>
</div>

</ion-content>
