<div class="header">
	<img src="../../../assets/image/phon-header.png" alt="" class="login-header-bg">
	<div class="login-heder-box">
		<img src="../../../assets/image/logo.png" alt="" class="login-logo">
		<p class="login-title">Coffee Shop system</p>
	</div>
</div>
<div class="content">
	<div class="login-input">
	<ion-input placeholder="Username"></ion-input>
	</div>
	<div class="login-input">
		<ion-input placeholder="Password" type="password"></ion-input>
	</div>
	<button class="login-btn">Login in</button>
	<div class="login-forgot">
		<img src="../../../assets/image/coffe.png" alt="" class="login-forgot-image">
		<p class="login-link">
			<a [routerLink]="['/home']">Forgot your password?</a>
		</p>
	</div>
</div>
