
    .home-header {
        background-image: linear-gradient(179deg, #fd9900 0%, #fc6f1d 100%);
        .header-bg {
            position: absolute;
            top: -5em;
        }

        .home-header-box {
            padding-top: 2em;
            padding-bottom: 0.5em;
            display: flex;
            justify-content: space-around;
            align-items: end;


            .icon-exit{
                z-index: 102;
            }
            .icon-menu{
                width: 2.3em;
                z-index: 102;
            }

            .home-logo {
                width: 25%;
                z-index: 102;
            }

        }
        .home-title {
            color: #fff;
            padding-bottom: 1em;
            text-align: center;
            z-index: 109;
            font-weight: bold;
            position: relative;
        }
    }

.home-box-btn{
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
    .block{
        width: 150px;
        height: 150px;
        border-radius: 10px;
        background: url(../../../assets/image/box-btn.png);
        align-items: flex-end;
        justify-content: center;
        text-decoration: none;
        .center{
            align-items: center;
            .btn-icon{
                width: 4em;
                display: block;
                margin-left: auto;
                margin-right: auto
            }
            .btn-text{
                margin: 24px 0px 10px 0px;
                font-size: 0.8em;
                color: #fff;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
        display: flex;
        align-items: center
        p{
            font-size: 1em;
            color: #fff;
            text-transform: uppercase;
        }
    }
}

ion-content{
    z-index: 109;
}

.menu{
    position: fixed;
    top: 0;
    z-index: 199;

    .block-menu{
        background-image: linear-gradient(179deg, #fd9900 0%, #fc6f1d 100%);
        width: 80%;
        height: 100%;
        z-index: 99999;
        position: fixed;
        left: 0;
        .menu-logo{
            display: flex;
            justify-content: center;
            img{
                width: 45%;
                padding-top: 30%;
                padding-bottom: 5%;
            }
        }
        .menu-item{
            display: flex;
            justify-content: center;
            ul{
                padding: 0;
                li{
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin-bottom: 1em;
                    img{
                        width: 1em;
                    }
                    a{
                        color: #fff;
                        text-decoration: none;
                        padding-left: 20px;
                        text-transform: uppercase;
                    }
            }
        }
        }
    }
    .optical-menu{
        width: 20%;
        height: 100%;
        z-index: 99999;
        position: fixed;
        background: transparent;
        right: 0;
    }
}