<ion-header class="home-header">
	<img src="../../../assets/image/phon-header.png" class="header-bg">
		<div class="home-header-box">

			<img src="../../../assets/image/exit.png" alt="" class="icon-exit">

		
			<img src="../../../assets/image/logo.png" alt="" class="home-logo">
			

			<img src="../../../assets/image/menu.png" alt="" class="icon-menu" (click)="onToggleMenu()">

		</div>
		<p class="home-title" >Hi, {{ username }}</p>
</ion-header>

<ion-content>
	<div class="home-photo">
		<img src="../../../assets/image/home-photo.png" alt="">
	</div>

	<div class="home-box-btn">
		<div class="block">
			<div class="center">
				<img src="../../../assets/image/coffe_.png" alt="" class="btn-icon">
				<p class="btn-text">New order</p>
			</div>
		</div>
		<div class="block">
			<div class="center">
				<img src="../../../assets/image/order.png" alt="" class="btn-icon">
				<p class="btn-text">orders</p>
			</div>
		</div>
	</div>
	<div class="home-box-btn">
		<div class="block">
			<div class="center">
				<img src="../../../assets/image/info.png" alt="" class="btn-icon">
				<p class="btn-text">help info</p>
			</div>
		</div>
		<div class="block">
			<div class="center">
				<img src="../../../assets/image/profile.png" alt="" class="btn-icon">
				<p class="btn-text">profile</p>
			</div>
		</div>
	</div>

</ion-content>

<div class="menu" *ngIf="isActiveMenu">
	<div class="block-menu">
		<div class="menu-logo">
			<img src="../../../assets/image/logo.png" alt="" class="home-logo">
		</div>
		<div class="menu-item">
			<ul>
				<li>
					<img src="../../../assets/image/next.png" alt="">
					<a href="">new order</a> 
				</li>
				<li>
					<img src="../../../assets/image/next.png" alt="">
					<a href="">my orders</a> 
				</li>
				<li>
					<img src="../../../assets/image/next.png" alt="">
					<a href="">help info</a> 
				</li>
				<li>
					<img src="../../../assets/image/next.png" alt="">
					<a href="">profile</a> 
				</li>
				<li>
					<img src="../../../assets/image/next.png" alt="">
					<a href="">payments</a> 
				</li>
				<li>
					<img src="../../../assets/image/next.png" alt="">
					<a href="">log out</a> 
				</li>
			</ul>
		</div>
	</div>
	<div class="optical-menu" (click)="onToggleMenu()">

	</div>
</div>


<!-- <ion-header class="home-header">

  <img src="../../../assets/image/phon-header.png" class="header-bg">

	  <div class="home-header-box">
		<div class="home-exit" [routerLink]="['/login']"></div>
		<img src="../../../assets/image/logo.png" alt="" class="home-logo">
		<div class="home-menu" ></div>
	  </div>
	  <p class="home-title" >Hi, {{ username }}</p>

</ion-header>

<ion-content>
  <div class="block"></div>
</ion-content> -->

<!-- <div class="home-page">

  <div class="home-header">
	<div class="home-header-box">
	  <div class="home-exit" [routerLink]="['/login']"></div>
	  <img src="../../../assets/image/logo.png" alt="" class="home-logo">
	  <div class="home-menu" ></div>
	</div>
	<p class="home-title" >Hi, {{ username }}</p>
  </div>

  <div class="home-content">
	<div class="block">

	</div>
  </div>
  <div class="home-menu">

  </div>

</div> -->
<!-- 
domen: thedigitalcapital.co.uk
accaunt: 241355302
password: bnd000000 
-->