<ion-header class="home-header">
  <img src="../../../assets/image/phon-header.png" class="header-bg">
  <div class="home-header-box">
    <a class="icon-info">
      <img src="../../../assets/image/info_1.png" alt="" >
    </a>
    <p class="title" *ngIf="steps === 'step1' || steps === 'step2' ">New Order</p>
    <p class="title" *ngIf="steps === 'step3'">Confirm Order</p>
    <a class="icon-next" (click)="onNextStep()">
      <img src="../../../assets/image/next.png" alt="">
    </a>
  </div>
</ion-header>

<ion-content>
  <app-order *ngIf="steps === 'step1'"></app-order>
  <app-map *ngIf="steps === 'step2'"></app-map>
  <app-confirm *ngIf="steps === 'step3'"></app-confirm>
</ion-content>
