<ion-header class="home-header">
  <img src="../../../assets/image/phon-header.png" class="header-bg">
  <div class="home-header-box">

    <a class="icon-info">
      <img src="../../../assets/image/info_1.png" alt="" >
    </a>

    <p class="title" >New Order</p>
    
    <a class="icon-next" [routerLink]="['/new-order-map']">
      <img src="../../../assets/image/next.png" alt="">
    </a>
  </div>

</ion-header>

<ion-content>

  <div class="box-coffee">
    <img src="../../../assets/image/coffee_big.png" alt="" class="coffee_big">
  </div>

  <div class="segment">
    <a href="#" class="segment-item-active">Coffees</a>
    <a href="#" class="segment-item">Cold brews</a>
    <a href="#" class="segment-item">Ice cream</a>
  </div>
  <div class="list-items">
    <div *ngFor="let item of items" class="item">
      <img src="../../../assets/image/cup.png" alt="" class="item-cup">
      <div>
        <h3 class="item-name">{{ item.name }}</h3>
        <p class="item-price">$ {{ item.price }}</p>
      </div>
      <img src="../../../assets/image/cart.png" alt="" class="item-cart">
    </div>
<!-- 
  <ion-item >
  <ion-thumbnail slot="start">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
  </ion-thumbnail>
  <ion-label>
    <h3>Americano+</h3>
    <p> $ 4.25 </p>
  </ion-label>
  <ion-thumbnail slot="end">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
  </ion-thumbnail>
</ion-item>
<ion-item>
  <ion-button slot="start">
    Start
  </ion-button>
  <ion-label>Button Start/End</ion-label>
  <ion-button slot="end">
    End
  </ion-button>
</ion-item> 
-->
  </div>
</ion-content>
